@theme {
  /* colors */
  --color-resume-10: #f0fffb;
  --color-resume-50: #e6fffa;
  --color-resume-100: #b2f5ea;
  --color-resume-200: #81e6d9;
  --color-resume-300: #4fd1c5;
  --color-resume-400: #38b2ac;
  --color-resume-500: #2c7a7b;
  --color-resume-600: #285e61;
  --color-resume-700: #234e52;
  --color-resume-800: #1d4044;
  --color-resume-900: #153e3f;
  --color-custom-grey: #e2e7ed;
  --color-custom-grey100: #e5e5e5;

  /* border radius */
  --border-radius-md: 4px;

  /* box shadow */
  --shadow-level-4px-0.25: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --shadow-level-8dp:
    0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12),
    0px 5px 5px rgba(0, 0, 0, 0.2);
  --shadow-level-4dp:
    0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.2);
  --shadow-level-hard: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
